<app-filter-panel ($searchChanged)="setSearch($event)" ($filterChanged)="setFilter($event)"></app-filter-panel>

<div class="container">
  <div class="row">

    <table>
      <thead>
        <tr>
          <th><a (click)="setSort('name')">Name</a></th>
          <th><a (click)="setSort('company_check_severity')">Company Check Severity</a></th>
          <th>Created</th>
          <th>Modified</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ship of (ships | async).results | search : searchQuery | filter : filterQuery | sort : sortQuery">
          <td>{{ship.name}}</td>
          <td>{{ship.company_check_severity}}</td>
          <td>{{ship.created | date : yMd}}</td>
          <td>{{ship.modified | date : yMd}}</td>
          <td><a routerLink="{{ship.id}}">View</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
