<div class="container">
  <div class="row">
    <div class="column">
      <form #searchForm="ngForm">
        <input type="text" placeholder="Search Term" name="searchQuery" [(ngModel)]="searchQuery">
      </form>
    </div>
    <div class="column">
      <form class="row" #filterForm="ngForm">

        <label class="column" id="critical">critical
          <input for="critical" type="checkbox" name="critical" [(ngModel)]="critical">
        </label>
        
        <label class="column" id="warning">warning
          <input for="warning" type="checkbox" name="warning" [(ngModel)]="warning">
        </label>
        
        <label class="column" id="ok">ok
          <input for="ok" type="checkbox" name="ok" [(ngModel)]="ok">
        </label>

      </form>
    </div>
  </div>
</div>
