<div class="container">
    <div class="row">

        <div class="column">

            <p>List of ships displaying company check severity and name</p>
            <p>The list can be sorted alphtabetically on company check severity and name, the list can also be searched via name and checkbox filtered vie check severity</p>
            <p>This App focuses on anuglar best pratices using only angular 2 conventions such as pipes, and angular internal mocking of the backend</p>

        </div>

</div>
</div>
